body {
  background-color: rgb(255, 255, 221, 0.7) !important;
  background-clip: padding-box;
  max-width: 80%;
}

#entire-app {
  margin: auto;
  display: block;
  width: 100%;
}

.cities,
.dublin,
.enter-city {
  border-style: solid;
  border-color: #80cbfb;
  font-family: "Orelega One", cursive;
  color: #fdc4f1;
}
.shanghai,
.seattle,
.submit-button {
  border-style: solid;
  border-color: #fdc4f1;
  font-family: "Orelega One", cursive;
  color: #80cbfb;
}
.searched-for-city {
  color: #fdc4f1;
  font-family: "Orelega One", cursive;
}
.city {
  font-size: 80px;
}

#last-updated {
  font-size: 30px;
}

.current-temp {
  font-size: 80px;
  font-family: "Orelega One", cursive;
  color: #fdc4f1;
}
.sunday,
.tuesday,
.thursday {
  font-size: 40px;
  font-family: "Orelega One", cursive;
  color: #80cbfb;
  text-align: center;
}
.monday,
.wednesday {
  font-size: 40px;
  font-family: "Orelega One", cursive;
  color: #fdc4f1;
  text-align: center;
}

#humidity,
#wind {
  font-size: 25px;
  font-family: "Orelega One", cursive;
  color: #fdc4f1;
}

#converter {
  font-size: 30px;
}

#searched-weather {
  text-transform: capitalize;
  font-size: 50px;
}

a {
  color: #80cbfb;
}

a:link {
  color: #80cbfb;
}

a:visited {
  color: #80cbfb;
}

a:focus {
  color: #80cbfb;
}

a:hover {
  color: #80cbfb;
}

.weather-temperature .active {
  color: #fdc4f1;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
